.fill-remaining-space {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 100vw;
}
// .mat-button {
//   text-align: right;
// }

.navbar-toggler {
  border: none;
}

.dropdown-menu {
  background-color: #151515;
  border: none;

  .dropdown-item {
    color: white;
  }

  .dropdown-item:hover {
    color: #151515;
  }
}